<%= provide(:title, "Log in") %>
<h1 class="title">Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit :submit %>
<% end %>
<br><br>
<p>To observe the authorization feature, try the following credentials:</p>
<p class="is-size-6">email: bob@foobar.com</p>
<p class="is-size-6">password: foobar</p>