<%= provide(:title, "All Posts") %>
<h1 class="title">All posts</h1>
<%= will_paginate %>
<ul>
    <% @posts.each do |post| %>
        <li>
            <article class="message is-dark">
                <div class="message-header">
                    <p><%= post.title %></p>
                </div>
                <div class="message-body">
                    <p><%= post.body %></p>
                    <div class="author is-italic"
                        <% if logged_in? %>
                            <% @user = User.find(post.user_id) %>
                            <p>By: <%= @user.name %></p>
                        <% end %>
                    </div
                </div>
            </article>
            <br>
        </li>
    <% end %>
</ul>
<%= will_paginate %>